.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato {
  position: relative;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-direitos {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

.footer-contato .email::before {
  display: block;
  content: "";
  width: 28px;
  height: 24px;
  background: url("../img/email.svg") no-repeat;
  position: absolute;
  left: -45px;
  top: 4px;
}

.footer-contato .cellphone::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/contatos.svg") no-repeat;
  position: absolute;
  left: -45px;
  top: 73px;
}

.footer-contato .insta::before {
  display: block;
  content: "";
  width: 28px;
  height: 24px;
  background: url("../img/instagram.svg") no-repeat;
  position: absolute;
  left: -45px;
  top: 146px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
